﻿<div class="jumbotron">
    <h1>Bookstore API</h1>
    <p class="lead">This is just a practice assigned to Wellington Villegas from Soluciones GBH creating a basic REST API about a sample Book Store Content.</p>
    <p>See below the list of datasets managed by this api</p>
    <a href="@Url.Action("Index","Documentation")" class="btn btn-primary btn-default">Project details »</a>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Books</h2>
        <p>This is the main api where clients could query for the books catatalog available</p>
        <p><a class="btn btn-default" href="@Url.Action("Books","Documentation")">Methods &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>List of categories that are used to group books by content.</p>
        <p><a class="btn btn-default" href="@Url.Action("Categories","Documentation")">Methods &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authors</h2>
        <p>List of authors and the corresponding books.</p>
        <p><a class="btn btn-default" href="@Url.Action("Authors","Documentation")">Methods &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Formats</h2>
        <p>
            Formats tagged for books, each book have a price in the tagged format
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Formats","Documentation")">Methods &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Languages</h2>
        <p>List of languages and tagged books.</p>
        <p><a class="btn btn-default" href="@Url.Action("Languages","Documentation")">Methods &raquo;</a></p>
    </div>
    
</div>