﻿
@{
    ViewBag.Title = "Authors";
}

<h2>Authors</h2>

<p>This api contains all the methods related to the authors and the corresponding books.</p>

<h3>URL</h3>

<p>./api/authors</p>

<h3>Methods</h3>

<h4>./api/authors/</h4>
<p>Return the list of all available authors.</p>
