﻿
@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>

<p>This api contains all the methods related to the formats and the corresponding books.</p>

<h3>URL</h3>

<p>./api/books</p>

<h3>Methods</h3>

<h4>./api/books/</h4>
<p>Return the list of all available books.</p>
<br />
<h4>./api/books/author/{authorid}</h4>
<p>Return the list books by a provided author id.</p>
<h5>Parameters</h5>
<ul>
    <li><strong>authorid</strong> ID of the author</li>
</ul>
<br />
<h4>./api/books/category/{categoryid}</h4>
<p>Return the list books by a provided category id.</p>
<h5>Parameters</h5>
<ul>
    <li><strong>categoryid</strong> ID of the category</li>
</ul>
<br />
<h4>./api/books/format/{formatid}</h4>
<p>Return the list books by a provided format id.</p>
<h5>Parameters</h5>
<ul>
    <li><strong>formatid</strong> ID of the format</li>
</ul>
<br />
<h4>./api/books/languate/{languageid}</h4>
<p>Return the list books by a provided language id.</p>
<h5>Parameters</h5>
<ul>
    <li><strong>languageid</strong> ID of the language</li>
</ul>
<br />
<h4>./api/books/pages/{bookid}</h4>
<p>Return the list book pages by a provided book id.</p>
<h5>Parameters</h5>
<ul>
    <li><strong>bookid</strong> ID of the book</li>
</ul>