﻿
@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>This api contains all the methods related to the categories and the corresponding books.</p>

<h3>URL</h3>

<p>./api/categories</p>

<h3>Methods</h3>

<h4>./api/categories/</h4>
<p>Return the list of all available categories.</p>
<br />
<h4>./api/categories/book/{bookid}</h4>
<p>Return the list categories related for a book ID.</p>
<h5>Parameters</h5>
<ul>
    <li><strong>bookid</strong> ID of the book</li>
</ul>