﻿
@{
    ViewBag.Title = "Formats";
}

<h2>Formats</h2>

<p>This api contains all the methods related to the formats and the corresponding books.</p>

<h3>URL</h3>

<p>./api/formats</p>

<h3>Methods</h3>

<h4>./api/formats/</h4>
<p>Return the list of all available formats.</p>
<br />
<h4>./api/formats/book/{bookid}</h4>
<p>Return the list formats related for a book ID.</p>
<h5>Parameters</h5>
<ul>
    <li><strong>bookid</strong> ID of the book</li>
</ul>