﻿
@{
    ViewBag.Title = "Project Details";
}

<h2>Project Details</h2>
<br />
<h4>Technical Details</h4>
<ul>
    <li><strong>Stack</strong> ASP.Net MVC</li>
    <li><strong>Database engine</strong> SQL Server</li>
</ul>
<br />
<h4>Versioning</h4>
<p>The project  is versioning on git protocol and hosted in a bitbucket repository, under the dev branch.</p>
<p>Repo: <a target="_blank" href="https://bitbucket.org/wellingtonvm/gbhbookstore/src/">https://bitbucket.org/wellingtonvm/gbhbookstore/src/</a></p>
<br />
<h4>Other points</h4>
<ul>
    <li>The project have an initial seeding of data, check out the migrations/configuration.cs </li>
    <li>For future data source an interface was created, in the repositories folder create a repository class and implement the IBookStoreRepository interface that contains the required methods signatures.</li>
</ul>