﻿
@{
    ViewBag.Title = "Languages";
}

<h2>Languages</h2>

<p>This api contains all the methods related to the languages and the corresponding books.</p>

<h3>URL</h3>

<p>./api/languages</p>

<h3>Methods</h3>

<h4>./api/languages/</h4>
<p>Return the list of all available languages.</p>
<br />
<h4>./api/languages/book/{bookid}</h4>
<p>Return the list languages related for a book ID.</p>
<h5>Parameters</h5>
<ul>
    <li><strong>bookid</strong> ID of the book</li>
</ul>